<div id="color">
  <div align="center">
    <h3>英语六级考试报名</h3>
    <%= form_tag("/register_liuji") do %>

        <div>
          <%= label_tag(:name, "姓名:") %>
        </div>
        <%= text_field_tag(:name) %>

        <br>

        <div>
          <%= label_tag("学号:") %>
        </div>
        <%= text_field_tag(:user_id) %>

        <br>

        <div>
          <%= label_tag("身份证号:") %>
        </div>
        <%= text_field_tag(:card) %>

        <div>
          <%= label_tag("班级:") %>
        </div>
        <%= text_field_tag(:ban_ji) %>

        <br>
        <%= submit_tag("报名") %>
    <% end %>
  </div>
</div>
