<div class="return">
  <button onclick="returnLandingPage()">注销</button>
</div>
<div align="center" class="chazhao">
  <%= form_tag("/finding") do %>
    <div id="manager">
      <%= text_field_tag(:user_id) %>
      <%= submit_tag("查找") %>
    </div>
  <% end %>

</div>
<div>
  <div class="history">
    <%= form_tag('/siji_all') do %>
        <%= submit_tag('四级考试报名表') %>
    <% end %>
  </div>
  <div class="history">
    <%= form_tag('/liuji_all') do %>
        <%= submit_tag('六级考试报名表') %>
    <% end %>
  </div>
</div>
<br>
<div>
  <% if @scores != nil %>
      <table>

        <% @scores.each do |score| %>
            <tr>
              <td>学号：<%= score.user_id %></td>
              <td>姓名：<%= score.name %></td>
              <td>班级：<%= score.ban_ji %></td>
              <td>身份证号：<%= score.card %></td>
              <td>考场：<%= score.test_class %></td>
              <td>追考证号：<%= score.test_number %></td>
              <td>座号：<%= score.zuo_hao %></td>
              <td>照片<%= %></td>
              <td><%= link_to '修改', edit_path(score) %></td>
              <td><%=link_to '删除',page_remove_user_path(score.id)  %></td>
            </tr>
        <% end %>
      </table>
      <div align="center">
        <%= will_paginate @scores, :previous_label => '上一页', :next_label => '下一页' %>
      </div>
  <% end %>
</div>