<div class="return">
  <button onclick="returnLandingPage()">返回登录</button>
</div>
<div align="center">
  <h3>考试信息</h3>
</div>
<div>
  <% if @scores != nil %>
      <table>
        <tr>
          <th>学号</th>
          <th>姓名</th>
          <th>班级</th>
          <th>身份证号</th>
          <th>考场号</th>
          <th>考号</th>
          <th>座号</th>
          <th>照片</th>
        </tr>

            <tr>
              <td><%= @scores.user_id %></td>
              <td><%= @scores.name %></td>
              <td><%= @scores.ban_ji %></td>
              <td><%= @scores.card %></td>
              <td><%= @scores.test_class %></td>
              <td><%= @scores.test_number %></td>
              <td><%= @scores.zuo_hao %></td>
              <td> </td>
            </tr>
        <% end %>
      </table>

</div>